################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SND_Mobile_Automator/SND_Mobile_Automator.sln
